*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-image: linear-gradient(rgba(0,0,0,0.7), #3551b5), url(background.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.menu-bar{
	background: rgb(0,100,0);
	text-align: center;
}

.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: #fff;
}

.menu-bar ul li{
	width: 130px;
	margin: 15px;
	padding: 15px;
}

.menu-bar ul li a{
	text-decoration: none;
	color: #fff;
}

.active, .menu-bar ul li:hover{
	background: #2bab0d;
	border-radius: 3px;
}

.menu-bar .fa{
	margin-right: 8px;
}

.sub-menu-1{
	display: none;
}

.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 15px;
	margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
	border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	color: #b2ff00;
}

.fa-angle-right{
	float: right;
}

.sub-menu-2{
	display: none;
}

.hover-me:hover .sub-menu-2{
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: 140px;
	background: rgb(0,100,0);
}

/*.sub-menu-3{
	display: none;
}

.subject:hover .sub-menu-3{
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: 140px;
	background: rgb(0,100,0);
}
*/
.About-us{
	margin: 80px 200px;
	color: #2bab0d;
}

.About{
	margin: 40px;
	color: #fff;
}

.Our-Mission{
	margin: 80px 200px;
	color: #2bab0d;
}

.Mission{
	margin: 40px;
	color: #fff;
}

.NCERT{
	margin: 100px;
	color: #000000;
}

.Copyright-Text{
	width: 100%;
	background: #fff;
	padding: 8px 100px;
	text-align: center;
	color: #181818;
}